Q1. What are escape characters, and how do you use them?

Ans. Backslash(\) followed by a character is called as an escape character in python.It is a special string and It changes the meaning of the entire character

Q2. What do the escape characters n and t stand for?

Ans. '\n' is used when we have to go directly to a new line.'\t' is used to perform the tab operation

Q3. What is the way to include backslash characters in a string?

In [28]:
s = 'Hello\nPython'
print(s)

Hello
Python

In [29]:
s = 'Hello\tWorld'
print(s)

Hello	World

In [30]:
s = r'\n'
print(s)

\n

Q4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the
word Howl's not escaped a problem?

In [35]:
s = "Howl's Moving Castle"

In [36]:
s

"Howl's Moving Castle"

Ans. The given string is perfectly fine as we use a single quote inside double quotes. It will raise an error if we place a single quote inside single quotes

Q5. How do you write a string of newlines if you don't want to use the n character?

Ans. In that case we can place the entire string into triple quotes

In [39]:
'''This is a great 
movie and i really 
liked it a lot'''

'This is a great \nmovie and i really \nliked it a lot'

Q6. What are the values of the given expressions?

'Hello, world!'[1]

'Hello, world!'[0:5]

'Hello, world!'[:5]

'Hello, world!'[3:]

'Hello, world!'[1]

It will return the first character starting from 0 initially.

In [41]:
'Hello, world!'[1]

'e'

'Hello, world!'[1]

It will return from 0 to 4th character starting from 0 initially and excluding the 5th one

In [42]:
'Hello, world!'[0:5]

'Hello'

'Hello, world!'[:5]

Till 5th character it will return excluding 5th.

In [44]:
'Hello, world!'[:5]

'Hello'

'Hello, world!'[3:]

From 3rd character till the end it will return.

In [45]:
'Hello, world!'[3:]

'lo, world!'

Q7. What are the values of the following expressions?

'Hello'.upper()

'Hello'.upper().isupper()

'Hello'.upper().lower()

'Hello'.upper()

It converts the string into upper case

In [46]:
'Hello'.upper()

'HELLO'

'Hello'.upper().isupper()

It first converts the string into upper case and then checks the condition whether the string is upper case or not

In [48]:
'Hello'.upper().isupper()

True

The output returned is boolean

'Hello'.upper().lower()

It first converts the string into upper case. and then It first converts the string into lower case and finally returns the output.

In [50]:
'Hello'.upper().lower()

'hello'

Q8. What are the values of the following expressions?

'Remember, remember, the fifth of July.'.split()

'-'.join('There can only one.'.split())

'Remember, remember, the fifth of July.'.split()

It returns the list of objects seperated by a space.

In [53]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

'-'.join('There can only one.'.split())

It first splits the string and then join by '-'

In [55]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

Q9. What are the methods for right-justifying, left-justifying, and centering a string?

Ans. We can use the function ljust , rjust and center.

In [69]:
s = 'Hello'
s.rjust(30,'&')

'&&&&&&&&&&&&&&&&&&&&&&&&&Hello'

In [71]:
s = 'Hello'
s.ljust(30,'&')

'Hello&&&&&&&&&&&&&&&&&&&&&&&&&'

In [72]:
s = 'Hello'
s.center(30,'&')

'&&&&&&&&&&&&Hello&&&&&&&&&&&&&'

10. What is the best way to remove whitespace characters from the start or end?

Ans. strip() will do the job.

In [73]:
s = '         Hel    lo       '
s.strip()

'Hel    lo'

In [74]:
s = '         Hel    lo       '
s.lstrip()

'Hel    lo       '

In [75]:
s = '         Hel    lo       '
s.rstrip()

'         Hel    lo'